:root {
  --cloakwp-block-inserter-preview-height: 500px;
}

/* Make ACF Block Previews full-width -- makes headless iFrame preview strategy better/more accurate */
.wp-block.acf-block-preview {
  max-width: none !important;
}
.decoupled-block-preview-ctnr {
  position: relative;
}
.cloakwp-block-selector {
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 6px;
  z-index: 50;
  color: white;
  cursor: pointer;
  background-color: var(--wp-admin-theme-color, #007cba);
  border-bottom-right-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.cloakwp-block-selector:hover {
  background-color: var(--wp-admin-theme-color-darker-10, #006ba1);
}
.wp-block:not(.is-selected)
  .decoupled-block-preview-ctnr:hover
  .cloakwp-block-selector {
  display: block;
}

/* Hide scrollbars on ACF Block preview iframes */
.block-preview-iframe {
  overflow: hidden;
}
.block-preview-iframe::-webkit-scrollbar {
  display: none;
}

.block-preview-iframe.in-block-inserter {
  height: var(--cloakwp-block-inserter-preview-height);
}

/* Make it subtly more obvious which editor sidebar panels are open by making their toggle icons the WP accent color */
.components-panel__body.is-opened .components-panel__body-toggle {
  .components-panel__arrow {
    fill: var(
      --wp-components-color-accent,
      var(--wp-admin-theme-color, #3858e9)
    );
  }
}

/* Improve ACF Block field UI/UX in Block Editor sidebar 
==========================================================*/
.block-editor {
  --cloakwp-acf-ui-accent-color: var(
    --wp-components-color-accent,
    var(--wp-admin-theme-color, #3858e9)
  );

  .acf-block-fields.acf-fields {
    max-width: var(--cntr-w-wide);
    margin: auto;
  }

  .interface-interface-skeleton__sidebar .acf-field {
    min-width: 100% !important;
    width: 100% !important;
  }

  .acf-fields > .acf-field {
    /* Decrease horizontal margin around fields to improve squished UI */
    /* margin: 16px 10px !important; */

    /* Improve label + description visual hierarchy/spacing */
    .acf-label {
      margin-bottom: 8px !important;

      label {
        color: #1e1e1e;
      }

      p.description {
        line-height: 1.3;
        margin-top: 3px !important;
      }
    }

    .acf-input {
      /* Slightly decrease input font-sizes for better sidebar writing UX */
      input,
      textarea {
        font-size: 13px !important;
      }

      textarea {
        /* Reduce textarea scrollbar width to create more space for text */
        scrollbar-width: thin;
      }

      .hide-if-value p {
        color: #667085;
        font-style: italic;

        a {
          font-style: normal;
        }
      }
    }

    &.acf-field-repeater {
      .acf-row {
        td {
          border-top-color: #1e1e1e !important;
        }

        /* Decrease width of repeater table handles to create more space for inner fields */
        .acf-row-handle {
          padding: 8px 3px;
        }
      }

      .acf-repeater.-empty table.acf-table {
        display: block;
        height: 36px;
        border-style: dashed;
        border-color: gray;
        border-radius: 2px;

        &::before {
          content: "No items";
          width: fit-content;
          margin: 0 auto;
          display: flex;
          height: 100%;
          align-items: center;
          font-style: italic;
        }
      }
    }

    /* For Repeaters and Groups, remove outer horizontal margin to create more space for inner fields */
    &.acf-field-repeater,
    &.acf-field-group {
      margin: 16px 0px !important;
    }

    &.acf-field-group {
      padding: 10px 0px !important;

      > .acf-label {
        margin-left: 16px;
      }

      /* Make borders around groups a bit more visually distinct from other bordered things */
      > .acf-input {
        .acf-fields.-border {
          border-left-width: 0px !important;
          border-right-width: 0px !important;
          border-color: #686868;
          border-style: dashed;
        }
      }
    }

    /* Subtle improvements to accordion field styling */
    &.acf-field-accordion {
      margin: 0 !important;

      > .acf-label {
        margin-bottom: 0px !important;
      }

      &.-open .acf-accordion-title {
        border-bottom: 1px solid #e0e0e0;

        .acf-accordion-icon {
          fill: var(--cloakwp-acf-ui-accent-color);
        }
      }
    }

    &.acf-field-button-group {
      /* Change hard-coded blue colors to use WP color variables (ensures it matches selected theme) */
      .acf-input {
        label {
          min-width: 48px;
          min-height: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;

          svg {
            width: 100%;
            height: 100%;
            display: block;
          }

          /* Style the selected state */
          /* &.selected svg rect {
            fill: currentColor;
          }
         */
          &:hover {
            color: var(--cloakwp-acf-ui-accent-color);
            border-color: var(--cloakwp-acf-ui-accent-color);
          }

          &.selected {
            border-color: var(--cloakwp-acf-ui-accent-color);
            background-color: var(--cloakwp-acf-ui-accent-color);

            &:hover {
              color: white;
            }
          }
        }
      }
    }

    &.acf-field-radio {
      .acf-input {
        .acf-radio-list {
          input {
            border-color: inherit;
            color: white;

            &:checked:before {
              background: var(--cloakwp-acf-ui-accent-color);
            }
          }
        }
      }
    }
  }
}
